@charset "utf-8";

:root {
  --header-shadow: rgba(0,0,0,0.4);
  --font-color-1: #000;
  --font-color-2: #fff;
  --main-color: rgb(200,45,35);
  --main-background-color: #fce2b1;
  --base-color: #fff;
  font-size: 80.5%;
}

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: none;
}

body {
  font-family: 'IM Fell DW Pica SC', serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width:960px) {

  :root {
  font-size: 72.5%;
  }

  .container{
    width: 85%;
  }
}


@media screen and (max-width:520px) {

  :root {
    font-size: 45%;
  }
}