:root {
  --complementary-colors: rgb(35,190,200);
  --complementary-colors-thin: rgba(255, 255, 255, 0.3);
}

main {
  min-height: calc(100vh - 20rem);
  padding-top: 7rem;
}

.company {
  min-height: calc(100vh - 20rem - 6.9rem);
  display: flex;
  align-items: center;
}

.company .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--complementary-colors-thin);
}

.company h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.company h3 {
  font-size: 3rem;
  padding-bottom: 4rem;

}

.company .content ul {
  list-style: none;
}

.company .content li {
  font-size: 2rem;
  line-height: 1.6;
}

.company .content li:not(:last-of-type) {
  padding-bottom: 1rem;
}

.company .content h4 {
  vertical-align: top;
  display: inline-block;
  width: 14rem;
}

.company .content p {
  vertical-align: top;
  display: inline-block;
}