/* アニメーション */
.marker-animation.active{
  background-position: -100% 1.3em;
}

.marker-animation {
  background-image: -webkit-linear-gradient(left, transparent 50%, rgb(200,45,35) 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, rgb(200,45,35) 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, rgb(200,45,35) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgb(200,45,35) 50%);
  background-image: linear-gradient(left, transparent 50%, rgb(200,45,35) 50%);
  background-repeat: repeat-x;
  background-size: 200% .2em;
  background-position: 0 1.3em;
  transition: all 0.7s ease-in-out 0.7s;
}