<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADQ.inc/COMPANY</title>
    <link rel="stylesheet" href="../css/Normalize.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/marker-animation.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/company.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/main.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <a href="../index.html" class="logo">
          <img src="../img/header-logo.jpg" alt="">
        </a>
        <nav class="header-nav">
          <li><a href="../index.html">TOP</a></li>
          <li><a href="../index.html#service-wrapper">SERVICE</a></li>
          <li><a class="now-page" href="company.html#company">COMPANY</a></li>
        </nav>
      </div>
    </header>

    <main>
      <div id="company" class="company">
        <div class="container">
          <div class="content">
            <h2 class="ttl">企業情報</h2>
            <h3 class="sub-ttl marker-animation">COMPANY</h3>
            <ul class="info">
              <li>
                <h4>会社名</h4>
                <p>株式会社アドック</p>
              </li>
              <li>
                <h4>代表者名</h4>
                <p>竹川清悟</p>
              </li>
              <li>
                <h4>設立</h4>
                <p>2021年6月29日</p>
              </li>
              <li>
                <h4>事業内容</h4>
                <p>キャスティング・WEB広告<br>動画制作・写真撮影等</p>
              </li>
              <li>
                <h4>連絡先</h4>
                <a href="mailto:takekawa@adq.digital">takekawa@adq.digital</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 ADQ.inc</small></p>
      </div>
    </footer>
  </body>
</html>